In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [29]:
from mlxtend.frequent_patterns import apriori, association_rules

In [36]:
data=pd.DataFrame({'TID':['T1','T2','T3','T4','T5'],
                   'Items':['Laptop,Monitor,Printer','Mouse,Monitor,Keyboard','Laptop,Mouse,Monitor,Keyboard','Mouse,Keyboard','Laptop,Monitor,Keyboard']})

In [37]:
data

  TID                          Items
0  T1         Laptop,Monitor,Printer
1  T2         Mouse,Monitor,Keyboard
2  T3  Laptop,Mouse,Monitor,Keyboard
3  T4                 Mouse,Keyboard
4  T5        Laptop,Monitor,Keyboard

In [32]:
supa = data.copy()
supa.drop(columns='TID',inplace=True)
new_items=supa['Items'].str.split(",",n=-1,expand=True)
new_items

        0         1         2         3
0  Laptop   Monitor   Printer      None
1   Mouse   Monitor  Keyboard      None
2  Laptop     Mouse   Monitor  Keyboard
3   Mouse  Keyboard      None      None
4  Laptop   Monitor   Printer      None

In [33]:
unique_items=[]
#print(list(new_items.columns))
for col in list(new_items.columns):
  #print('\n',new_items[col].unique())
  unique_items.append(list(new_items[col].unique()))
#items=set(unique_items)
unique_items=new_items[0].append(new_items[1]).unique()
unique_items
items = unique_items

In [34]:
items

array(['Laptop', 'Mouse', 'Monitor', 'Keyboard'], dtype=object)

In [ ]:
encoded_vals = []
def custom():
  for index, row in new_items.iterrows():
    labels = {}
    uncommons = list(set(items) - set(row))
    #print(uncommons)
    commons = list(set(items).intersection(row))
    #print("C: ",commons)
    for uc in uncommons:
        labels[uc] = 0
    for com in commons:
        labels[com] = 1
    encoded_vals.append(labels)
  encoded_vals[0]

custom()
ohe_df = pd.DataFrame(encoded_vals)

In [ ]:
ohe_df.head()

   Keyboard  Mouse  Laptop  Monitor
0         0      0       1        1
1         1      1       0        1
2         1      1       1        1
3         1      1       0        0
4         0      0       1        1

In [ ]:
freq_items = apriori(ohe_df, min_support=0.4, use_colnames=True)
freq_items

   support                    itemsets
0      0.6                  (Keyboard)
1      0.6                     (Mouse)
2      0.6                    (Laptop)
3      0.8                   (Monitor)
4      0.6           (Keyboard, Mouse)
5      0.4         (Keyboard, Monitor)
6      0.4            (Mouse, Monitor)
7      0.6           (Laptop, Monitor)
8      0.4  (Keyboard, Mouse, Monitor)

In [35]:
rules = association_rules(freq_items, metric="confidence", min_threshold=0.8)
rules

           antecedents consequents  ...  leverage  conviction
0           (Keyboard)     (Mouse)  ...      0.24         inf
1              (Mouse)  (Keyboard)  ...      0.24         inf
2             (Laptop)   (Monitor)  ...      0.12         inf
3  (Keyboard, Monitor)     (Mouse)  ...      0.16         inf
4     (Mouse, Monitor)  (Keyboard)  ...      0.16         inf

[5 rows x 9 columns]